.width-style {
    width: 710;
    height: 300px;
}

.div-style {
    height: auto;
    width: 175px;
}
.img {
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.fa-style {
    margin-right: 5px;
}
.navbar {
    color: white;
    text-decoration: none;
}
.navbar a:active {
    color: grey;
    text-decoration: none;
}
.search-history .btn {
    text-transform: uppercase;
}